<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_nAC9d3EiAQuRTMXP8LD9x");
       })();
    </script>
  </head>
  <a id="anchor" onclick="startButton();">
    <body>
      <button class="buttons" id="lb" onclick="pushGuess(1);">1 CIRCLE IN LAST FRAME</button>
      <button class="buttons" id="rb" onclick="pushGuess(2);">2 CIRCLES IN LAST FRAME</button>
      <div id="canvas-container">
        <canvas width="600" height="600" id="canvas">Your browser does not support canvas.</canvas>
      </div>
      <audio id="600" src="../../sounds/600.wav" controls>
      </audio>
      <audio id="3000" src="../../sounds/3000.wav" controls>
      </audio>
      <br>
      <script src = "../trials.js"></script>
    </body>
  </a>
</html>